body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #F5F5DC;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-size: 18px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


#app {
    width: 400px;
    text-align: center;
}

#app {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#app.visible {
    opacity: 1;
}


#progress {
    text-align: right;
}
#progress-bar {
    width: 100%;
    height: 6px;
    background: #eee;
    border-radius: 4px;
    margin-top: 6px;
    margin-left: auto;
    margin-bottom: 6px;
    overflow: hidden;
}

#progress-fill {
    height: 100%;
    width: 0%;
    background: #4caf50;
    transition: width 0.3s ease;
}


#options-btn {
    display: block;
    margin-left: auto;
}

#options-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.limit-btn {
    margin: 5px;
}


#study-mode{
    text-align: left;
}

button.active {
    background-color: black;
    color: white;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}


#sentence {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.gap {
    display: inline-block;
    /*min-width: 100px;*/
    min-width: 6ch;
    font-size: 24px;
    outline: none;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid gray;
}

.gap.correct {
    border-bottom-color: #03C03C;
    color: rgba(50, 200, 50, 1.0);
}

/* temporary wrong flash */
.gap.flash-wrong {
    color: rgba(255, 0, 0, 0.5);
    border-bottom-color: rgba(255, 0, 0, 0.5);
}

/* hint (remaining letters) */
.hint {
    color: rgba(0, 0, 0, 0.3);
}

.correct {
    color: black;
    /*color: #03C03C;*/
}

#translation {
    margin-top: 20px;
    text-align: left;
    color: gray;
}




.empty-state {
    text-align: left;
    font-size: 24px;
    /*line-height: 1.6;*/
    padding: 40px 20px;
}

