body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #F5F5DC;
}

.app {
    width: 400px;
    text-align: center;
}

#progress {
    text-align: right;
}

#sentence {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.gap {
    display: inline-block;
    /*min-width: 100px;*/
    min-width: 6ch;
    font-size: 24px;
    outline: none;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid gray;
}

.gap.correct {
    border-bottom-color: #03C03C;
    color: rgba(50, 200, 50, 1.0);
}

/* temporary wrong flash */
.gap.flash-wrong {
    color: rgba(255, 0, 0, 0.5);
    border-bottom-color: rgba(255, 0, 0, 0.5);
}

/* hint (remaining letters) */
.hint {
    color: rgba(0, 0, 0, 0.3);
}

.correct {
    color: black;
    /*color: #03C03C;*/
}

#translation {
    margin-top: 20px;
    text-align: left;
    color: gray;
}